@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("style-small.css") screen and (max-width: 840px);

@import url("style-large.css") screen and (min-width: 840px);

*{
	margin:0;
	padding:0;
}

colors{
	background-color: #6495ED;
	background-color: #549F93;
	background-color: #DEB887;
	background-color: #725752;
	background-color: #1C110A;
}

html{
	scroll-behavior: smooth;
	scroll-padding-top: 189px;
}

a:link {
	color: orange;
	text-decoration: none;
}

a:visited{
	color: orange;
}

a:hover {
	text-decoration: underline;
}

article .Mainpage{
	display:flex;
    flex-wrap: wrap;
    align-items:center;
}

body{
	font-family: "Poppins", sans-serif;
	text-align: center;
}

h1{
	font-family: "Bebas Neue", sans-serif;
	font-size: xx-large;
}

h2{
	font-size: large;
}

time{
	color: #949289;
	font-weight: bold;
}

aside time{
	color: aliceblue
}

section.chonk{
	background-color: aliceblue;
}

header{
	position: sticky;
	top: 0;
	background-color: black;
	z-index: 100;
	flex-basis:100%;
	height: fit-content;
}

header img {
	border-radius: 50%;
	margin: 0 50px 0 0;
	width: 10%;
	min-width:75px;
	max-width: 150px;
	float: right;
	z-index: 2;
}

header nav:first-of-type{
	padding-top: 18px;
}

header section a:link{
	color: limegreen;
}

header section a:visited{
	color: limegreen;
}

main{
	max-width: 1000px;
	margin: auto;
	text-align: left;
	flex-grow:3;
	flex-basis: 1000px;
}

main section article{
	border-bottom: 1px dashed #888888;
	padding: 18px 20px 18px 20px;
}


main section article section.space{
	margin: 18px 0 0 0;
}

main section article figure{
	float: right;
	margin: 0 0 0 20px;
}

main section article figure img{
	min-width: 198px;
	max-width: 18vw;
}

.rounded{
	border-radius: 20px;
	min-width: 150px;
	max-width: 170px;
}

.mylogo{
	min-width: 198px;
	max-width: 18vw;
}

aside{
	float: right;
	padding-top: 20px;
	flex-grow:1;
	flex-basis: 19vw;
}

aside.bigheader{
	top: 168px; 
}

aside article{
	border-radius: 30px;
	margin-bottom: 18px;
}

aside article.border{
	padding: 18px 20px 18px 20px;
	background-color: cornflowerblue;
}

aside article.border:nth-of-type(2){
	background-color: burlywood;
}

aside article.border:nth-of-type(3){
	background-color: darkolivegreen;
}

aside article img{
	border-radius: 20px;
	padding-top: 5px;
}

aside article img.icon{
	min-width: 100px;
	max-width: 150px;
}

img.maxaside{
    border-radius: 30px;
    max-width: 1000px;
	width: calc(63vw);
	height: calc(63vw * 9 / 16);
    height: auto;
    display: block;
	padding-top: 5px;
	margin-bottom: 18px;
	z-index: 2;
	position: relative;
}

video.maxaside{
    border-radius: 30px;
    max-width: 1000px;
	width: calc(63vw);
	height: calc(63vw * 9 / 16);
    height: auto;
    display: block;
	padding-top: 5px;
	margin-bottom: 18px;
	z-index: 2;
	position: relative;
}

iframe{
    max-width: 1000px;
	width: calc(63vw);
	height: calc(63vw * 9 / 16);
	position: relative;
	z-index: 2;
}

img.linkimg{
	border-radius: 0px;
}

img.linkimg:hover{
	position: relative;
	bottom: 15px;
}

article.middle{
	text-align: center;
}

article ul li img.linkimg{
	border-radius: 30px;
}

article ul li img.logo{
	/* border-radius: 30px; */
	width: 13vw;
}

article ul li img.logo:nth-of-type(odd){
	margin-right: 20px;
}

aside .formContainer{
	margin-bottom: 18px;
}

article figcaption{
	font-size: small;
}

section article ul{
	padding: 18px;
}

.next {
	display: flex;
}

ul.next li{
	display: inline-block;
	margin-right: 10px;
	list-style-type: circle;
}

#slideshow1 {
	float: right;
	margin: 0 0 0 20px;
	text-align: center;
	overflow: hidden;
	max-width: 18vw;
	max-height: 12vw;
	min-width: 198px;
	min-height: 132px;
	margin: 0 auto;
}

#slideshow2 {
	float: right;
	margin: 0 0 0 20px;
	text-align: center;
	overflow: hidden;
	max-width: 18vw;
	max-height: 12vw;
	min-width: 198px;
	min-height: 132px;
	margin: 0 auto;
}

#slideshow3 {
	float: right;
	margin: 0 0 0 20px;
	text-align: center;
	overflow: hidden;
	max-width: 18vw;
	max-height: 12vw;
	min-width: 198px;
	min-height: 132px;
	margin: 0 auto;
}

.slide-wrapper {
    width: calc(4 * 18vw);
    min-width: calc(4 * 198px);
    animation: slide 18s ease infinite;
}
  
.slide {
	float: left;
	width: 18vw;
	height: 12vw;

	min-width: 198px;
	min-height: 132px;
	
	background-size: cover;
	background-repeat: no-repeat;
}
  
#slideshow1 .slide:nth-child(1) {
	background-image: url('../images/Theater/vettig1.jpg');
}
  
#slideshow1 .slide:nth-child(2) {
	background-image: url('../images/Theater/vettig2.jpg');
}
  
#slideshow1 .slide:nth-child(3) {
	background-image: url('../images/Theater/vettig3.jpg');
}
  
#slideshow1 .slide:nth-child(4) {
	background-image: url('../images/Theater/vettig4.jpg');
}

#slideshow2 .slide:nth-child(1) {
	background-image: url('../images/Theater/vettig5.jpg');
}
  
#slideshow2 .slide:nth-child(2) {
	background-image: url('../images/Theater/vettig6.jpg');
}
  
#slideshow2 .slide:nth-child(3) {
	background-image: url('../images/Theater/vettig7.jpg');
}
  
#slideshow2 .slide:nth-child(4) {
	background-image: url('../images/Theater/vettig8.jpg');
}
  
#slideshow3 .slide:nth-child(1) {
	background-image: url('../images/Theater/vettig9.jpg');
}
  
#slideshow3 .slide:nth-child(2) {
	background-image: url('../images/Theater/vettig10.jpg');
}
  
#slideshow3 .slide:nth-child(3) {
	background-image: url('../images/Theater/vettig11.jpg');
}
  
#slideshow3 .slide:nth-child(4) {
	background-image: url('../images/Theater/vettig12.jpg');
}
  
@keyframes slide {
	20% {margin-left: -0%;}
	30% {margin-left: -100%;}
	50% {margin-left: -100%;}
	60% {margin-left: -200%;}
	70% {margin-left: -200%;}
	80% {margin-left: -300%;}
	90% {margin-left: -300%;}
}

footer{
	background-image: url('../images/Dandelion.jpg');
	background-position: center;
	background-size: cover;
	margin-top: 30px;
	padding: 30px;
	padding-bottom: 0px;
}

section.width{
	/* max-width: 1000px; */
	margin: auto;
}

footer h1{
	text-align: center;
	color: white;
	text-shadow: 2px 2px #000000;
	font-size: large;
	margin-bottom: 4px;
}

aside form h1{
	text-align: center;
	color: black;
	font-size: large;
	margin-bottom: 4px;
}

aside h2.indent{
	font-size: medium;
	margin-left: 20px;
}

.formContainer{
    box-sizing: border-box;
	max-width: 300px;
	display: inline-block;	
}

.formContainer input,
.formContainer textarea {
    font-family: 'Poppins', sans-serif;
}

.formContainer input::placeholder,
.formContainer textarea::placeholder {
    font-family: 'Poppins', sans-serif;
}

footer nav{
	background-color: coral;
	padding: 18px 20px 18px 20px;
	border-radius: 30px;
	margin-bottom: 18px;
	margin-top: 118px;
	display: inline-block;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li{
    display:inline-block;
	background-size: contain, cover;
	background-repeat: no-repeat;
	margin: 10px;
}

footer nav ul li:nth-of-type(1) {
	background-image:  url('../images/Social\ Media/itch.png');
}

footer nav ul li:hover:nth-of-type(1) {
    background-image: url('../images/Social\ Media/itch highlighted.png');
}

footer nav ul li:nth-of-type(2) {
	background-image:  url('../images/Social\ Media/linkedin.png');
}

footer nav ul li:hover:nth-of-type(2) {
    background-image: url('../images/Social\ Media/linkedin highlighted.png');
}

footer nav ul li:nth-of-type(3) {
	background-image:  url('../images/Social\ Media/discord.png');
}

footer nav ul li:hover:nth-of-type(3) {
    background-image: url('../images/Social\ Media/discord highlighted.png');
}

footer nav ul li:nth-of-type(4) {
	background-image:  url('../images/Social\ Media/bible.png');
}

footer nav ul li:hover:nth-of-type(4) {
    background-image: url('../images/Social\ Media/bible highlighted.png');
}

footer nav ul li a img{
	max-width: 50px;
}

form{
	padding: 16px;
	background-color: #000000;
	border-radius: 30px;
}

aside form{
	padding: 16px;
	background-color: cornflowerblue;
	border-radius: 30px;
}

input{
	margin: 0 0 16px;
	width: 270px;
	padding: 4px;
    box-sizing: border-box;
	border-radius: 10px;
}

textarea{
	margin: 0 0 16px;
	width: 270px;
	padding: 4px;
    box-sizing: border-box;
	resize: none;
	border-radius: 10px;
}

button{
	padding: 8px;
	width: 270px;
	background-color: limegreen;
	box-sizing: border-box;
	border: none;
	border-radius: 10px;
	margin-bottom: 4px;
}

#unity-container { position: relative; z-index: 2; }
#unity-container.unity-mobile { position: fixed; width: 100vw; height: 100% }
#unity-canvas { background: #1F1F20 }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

canvas {
	max-width: 1000px;
	max-height: calc(1000px * 9 / 16);
	position: relative;
	z-index: 2;
}

.invisible {
    display: none;
}