.navsmall {
    display: flex;
    justify-content: center;
	margin: 0 20px 0 20px;
}

header{
	padding-bottom: 30px;
}

header ul {
	padding-top:5px;
}

header ul li {
    display: inline;
    padding: 10px;
	border-bottom: 1px solid #CCCCCC;
}

header ul li.active {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid black; 
}

header img:hover {
	position: relative;
	bottom: 15px;
	box-shadow: 0 15px black;
}

main{
	padding-top: 18px;
}

aside{
	min-width: none;
	max-width: 19vw;
	position: sticky;
	top: 106px; 
	z-index: 1;
}

aside article{
	width: 260px;
}

img.linkimg{
	max-width: 260px;
}

article ul li img.linkimg{
	width: 20vw;
}

main section article{
	margin: 18px 20px 18px 20px;
}

footer .formContainer{
	margin-bottom: 30px;
	margin: 20px;
	margin-left: 6vw;
	margin-right: 3vw
}

footer nav{	
	margin: 60px 0 60px 0;
	margin-left: 3vw;
	transform: translateY(-50%);
}

#invisibleforbig{
	display: none;
}

header li.login {
    margin-left: auto;
}